h1.header {
  text-align: center;
  margin-top: var(--typography-spacing-vertical);
}
div.city-selection {
  display: flex;
  background: var(--background-color);
  button {
    background-color: var(--contrast-inverse);
    border: none;
    border-bottom: 5px solid var(---dropdown-background-color);
    border-radius: 0;
    color: var(--primary);
    &:disabled {
      color: var(--dropdown-color);
      background-color: var(--dropdown-background-color);
      border-bottom: 5px solid var(--dropdown-color);
    }
  }
}
section.locations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: var(--block-spacing-vertical);
  column-gap: var(--block-spacing-horizontal);
  justify-content: space-around;
}
article.location-card {
  width: 350px;
  text-align: center;
  transition: 0.3s;
  margin: 0;
}
